version: "3"
services:
  n8n:
    image: {{ n8n_docker_image }}:{{ n8n_version }}
    build: .
    container_name: n8n
    restart: unless-stopped
    ports:
      - "127.0.0.1:{{ n8n_port }}:5678"
    environment:
      - "N8N_HOST={{ domain_name }}"
      - "WEBHOOK_TUNNEL_URL=https://{{ domain_name }}:{{ nginx_https_port }}/"
      - "WEBHOOK_URL=https://{{ domain_name }}:{{ nginx_https_port }}/"
      - "N8N_PORT={{ n8n_port }}"
      - "GENERIC_TIMEZONE=UTC"
      - "EXECUTIONS_PROCESS=main"
      - "EXECUTIONS_TIMEOUT=3600"
      - "EXECUTIONS_TIMEOUT_MAX=7200"
      - "EXECUTIONS_DATA_PRUNE=true"
      - "EXECUTIONS_DATA_MAX_AGE=90"
      - "N8N_REINSTALL_MISSING_PACKAGES=true"
      - "N8N_RUNNERS_ENABLED=true"
      - "VUE_APP_URL_BASE_API=https://{{ domain_name }}:{{ nginx_https_port }}/"
      - "N8N_PUSH_BACKEND=websocket"
      - "N8N_TRUST_PROXY=true"
      - "N8N_PROXY_HOPS=1"
      - "N8N_CUSTOM_EXTENSIONS=/home/{{ ansible_user }}/n8n-data:/home/node/.n8n"
      - "N8N_COMMUNITY_PACKAGES_ENABLED=true"
      - "N8N_EDITOR_BASE_URL=https://{{ domain_name }}:{{ nginx_https_port }}"
      - N8N_ALLOW_EXECUTE_COMMAND=true
      - N8N_ENABLE_NODE_DEV=true
      - NODES_EXCLUDE=[]
      - N8N_FILESYSTEM_PATH_WHITELIST=/videos
{% if n8n_storage_type == 'postgres' %}
      - "DB_TYPE={{ n8n_db_type }}"
      - "DB_POSTGRESDB_HOST={{ n8n_db_host }}"
      - "DB_POSTGRESDB_PORT={{ n8n_db_port }}"
      - "DB_POSTGRESDB_DATABASE={{ n8n_db_name }}"
      - "DB_POSTGRESDB_USER={{ n8n_db_user }}"
      - "DB_POSTGRESDB_PASSWORD={{ n8n_db_password }}"
{% endif %}

    volumes:
      - "/home/{{ ansible_user }}/n8n-data:/home/node/.n8n"
      - "/home/{{ ansible_user }}/n8n-data/videos:/home/node/.n8n-videos"
      - /local-files:/files
      - "/home/{{ ansible_user }}/n8n-data/videos:/videos
      - /usr/share/fonts:/usr/share/fonts

{% if n8n_storage_type == 'postgres' %}
    networks:
      - n8n_network
{% endif %}

{% if n8n_storage_type == 'postgres' %}
networks:
  n8n_network:
    external: true
{% endif %}
