---
- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install basic dependencies
  apt:
    name:
      - curl
      - software-properties-common
      - ca-certificates
      - gnupg
      - ufw
    state: present

- name: Configure UFW to allow OpenSSH
  ufw:
    rule: allow
    name: OpenSSH

- name: Configure UFW to allow Nginx Full
  ufw:
    rule: allow
    name: "Nginx Full"

- name: Enable UFW
  ufw:
    state: enabled
