---
- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install basic dependencies
  apt:
    name:
      - curl
      - software-properties-common
      - ca-certificates
      - gnupg
    state: present
